
# Ignorar entorno virtual
.venv/

# Ignorar archivos de Python
__pycache__/
*.pyc

# Ignorar archivos de cobertura
htmlcov/
.coverage

# Ignorar archivos de editor
.vscode/
.idea/

# Ignorar archivos de contenedores
*.log
Jenkinsfile-solution
gitlab-ci-solution.yml
workflow-solution.yml
